{% extends 'todo/saved.html' %}

{% block content %}
    <div class="row">
      <div class="col-sm-12 col-md-12 m-0">
        <div class="jumbotron jumbotron-fluid">
          <div class="container-fluid">
            <div class="justify-content-center align-items-center">
              <div>
            <form method="POST" action="" class="mb-5">
                {% csrf_token %}
                <div class="form-group">
                  Are you sure you want to delete?
                </div>
                <button class="btn btn-dark mb-3"><a href="{% url 'index' %}">No</a></button>
                <button class="btn btn-danger" type="submit">Yes</button>
            </form>
          </div>
          </div> 
          </div>
      </div>
    </div>
    </div>

{% endblock %}