{% extends 'todo/saved.html' %}

{% block content %}

    <div class="row">
      <div class="col-sm-12 col-md-12 m-0">
        <div class="jumbotron jumbotron-fluid">
          <div class="container-fluid">
            <div class="justify-content-center align-items-center">
           
            <!--Add Form--> 
            <div>

            <form method="POST" action="" class="mb-5">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" id="search" name="title" placeholder="Enter title">
                  <input type="text" id="search" name="link" placeholder="Enter link">
                  <select type="text" id="emoji_list" name="emoji">
                    <option value="studies">🎓</option>
                    <option value="tech">👩‍💻</option>
                    <option value="hallyu">🇰🇷</option>
                    <option value="funny">🤣</option>
                    <option value="entertainment">📺</option>
                    <option value="booktube">📚</option>
                  </select>
                </div>
                <button class="btn btn-danger" type="submit">Add</button>
            </form>
          </div>

          <!--List-->
            <div class="list">
              <ul class="list-unstyled">
                  {% for task in list %}
                <li>
                  <div class="box">{{task.title}}, 
                    {% if "studies" in task.emoji %}
                    🎓
                    {% elif "tech" in task.emoji %}
                    👩‍💻
                    {% elif "hallyu" in task.emoji %}
                    🇰🇷
                    {% elif "funny" in task.emoji %}
                    🤣
                    {% elif "entertainment" in task.emoji %}
                    📺
                    {% else %}
                    📚
                    {% endif %}
                  </div>
                  <div class="button-group">
                      <a href="{{task.link}}">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-play-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                          </svg>
                      </a>
                      <a href="{% url 'update' task.id %}">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                      </a>
                      <a href="{% url 'delete' task.id %}">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                        </svg>
                      </a>
                  </div>
                </li>
                {% endfor %}
              </ul>
          </div>
          

          </div> 
          </div>
      </div>
    </div>
    </div>
    <nav>
      <ul class="pagination justify-content-center">
        {% if list.has_previous %}
        <li class="page-item">
          <a class="page-link" href="{% url 'index' %}?page={{list.previous_page_number}}" tabindex="-1">Previous</a>
        </li>
        {% endif %}
        {% if list.has_next %}
        <li class="page-item">
          <a class="page-link" href="{% url 'index' %}?page={{list.next_page_number}}">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>

  {% endblock %}
     