{% extends 'todo/saved.html' %}

{% block content %}
    <div class="row">
      <div class="col-sm-12 col-md-12 m-0">
        <div class="jumbotron jumbotron-fluid">
          <div class="container-fluid">
            <div class="justify-content-center align-items-center">
              <div>
            <form method="POST" action="" class="mb-5">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" id="search" name="title" placeholder="Enter title">
                  <input type="text" id="search" name="link" placeholder="Enter link">
                  <select type="text" id="emoji_list" name="emoji">
                    <option value="studies">🎓</option>
                    <option value="tech">👩‍💻</option>
                    <option value="hallyu">🇰🇷</option>
                    <option value="funny">🤣</option>
                    <option value="entertainment">📺</option>
                    <option value="booktube">📚</option>
                  </select>
                </div>
                <button class="btn btn-danger" type="submit">Update</button>
            </form>
          </div>
          </div> 
          </div>
      </div>
    </div>
    </div>
{% endblock %}
      