@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
	box-sizing: border-box;
    padding: 0;
    margin: 0;

}

body{
    font-family: 'Muli', sans-serif;
}

.jumbotron{
   background-color: white;
    margin: 0;
    font-family: 'Muli', sans-serif;

}

form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sidebar{
    margin: 0;
    height: 100vh;
}

#search{
	padding:10px;
	margin:2px;
	border-bottom: 2px grey solid;
	border-top:0;
	border-left:0;
	border-right:0;
	outline: none;
	width:250px;
}

h4{
	margin:20px;

}

#video{
	background-image: linear-gradient(to right, #474f85 , #51e3d4);
	color: white;
	padding: 10px;
	height:auto;
	border-radius: 10px;
	box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);

}


#thumbnail{
	border-radius: 10px;

}

.icons{
	
	display: flex;
}

.icon-row{
	flex-direction: row;
	margin: 2px;
	text-align: center;
	justify-content: space-between;
	margin: 20px;
}

/*Video icons*/
.bi-clock {
	color:yellow;
}

.bi-eye{
	color:blue;
}

.bi-hand-thumbs-up{
	color:green;
}

.bi-hand-thumbs-down{
	color:red;
}

/*Channel icons*/
.bi-house-door-fill{
	color:yellow;
}

.bi-eye-fill{
	color:blue;
}

.bi-person-check-fill{
	color:green;
}

.bi-camera-video{
	color:red;
}

.button-grp{
	display: flex;
	flex-direction: row;
}

.button{
	overflow: auto;
	margin:0 10px 0 10px;
}

/*Responsive design*/
@media screen and (max-width: 450px) {

  #video{
  	width:300px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  }

  #thumbnail{
  	width: 289px;
  	height: 250px;
  	margin: 0;
  }

  .icons{
  	flex-direction: column;
  }

  .button-grp{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
    
   .button{
		margin-bottom:10px;
}



}

@media screen and (min-width:450px){
	
	#video{
  	width:425px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  }
  #thumbnail{
  	width: 414px;
  	height: 360px;
  }
  .icon-row{
	justify-content: space-between;
	margin: 30px;
}

}

@media screen and (min-width: 700px){
	#video{
  	width:600px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  }
  #thumbnail{
  	width: 480px;
  	height: 360px;
  }
  .icon-row{
	justify-content: space-between;
	margin: 40px;
}
}

@media screen and (min-width: 1000px){
	#video{
  	width:900px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  }
  #thumbnail{
  	width: 480px;
  	height: 360px;
  }
  .icon-row{
	justify-content: space-between;
	margin: 50px;
}
}

@media screen and (min-width: 1350px){
	#video{
  	width:1200px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  }
  #thumbnail{
  	width: 480px;
  	height: 360px;
  }
  .icon-row{
	justify-content: space-between;
	margin: 60px;
}
	

}



.navbar-brand{
	font-family: 'Pacifico', cursive;
    font-size: 3em;
    padding: 3px;
	margin-right: 15px;
}

.navbar-toggler{
	background-color:grey;
}

.nav-link{
	font-size: 1.5em;
	margin-right: 60px;
}

