{% extends "mainapp/home.html" %}

{% block content %}


<!--Error handling-->
{% if message %}
<div class="text-center">
    {{message}}
</div>
{% endif %}


<!--Channel info-->
{% if channel_data %}
<div class="container mb-5" id="video"  class="channel">
  <h4><b>{{channel_data.title}}</b></h4>
   <img src="{{ channel_data.thumbnail }}" alt="thumbnail" id="thumbnail">
   <p>{{channel_data.description}}</p>
   <div class="icons">
     <div class="icon-row">
      <svg width="2em" height="2em" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
        <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
      </svg>
      <p>{{channel_data.country}}</p>
     </div>
     <div class="icon-row">
      <svg width="2em" height="2em" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
      </svg>
         <p>{{channel_data.viewcount}} views</p>
      </div>
      <div class="icon-row">
        <svg width="2em" height="2em" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-person-check-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
         <p>{{channel_data.subscount}} subs</p>
      </div>
     <div class="icon-row">
      <svg width="2em" height="2em" xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
      </svg>
         <p>{{channel_data.videocount}} videos</p>
     </div>
   </div>

   <div class="button-grp mt-0" >
       <button class="btn btn-light button">
         <a href="https://www.youtube.com/channel/{{channel_data.id}}" style="text-decoration: none;">Visit Channel 📺</a></button>
     
   </div>
 </div>

{% endif %}




{% endblock %}

