{% extends "mainapp/home.html" %}

{% block content %}
{% if channel_data %}
        <div class=" col-3 m-2 card" style="width: 480px;">

            <img src="{{ channel_data.thumbnail }}" class="card-img-top" alt="...">
             <div class="card-body">
              
              <h5 class="card-title">{{channel_data.title}}</h5>
              <a href="https://www.youtube.com/channel/{{channel_data.id}}" class="btn btn-primary">Visit Channel</a>
              <p>Channel Description: {{channel_data.description}}</p>
              <p>Country: {{channel_data.country}}</p>
              <p>Total views: {{channel_data.viewcount}}</p>
              <p>Total subscribers: {{channel_data.subscount}} approx</p>
              <p>Total videos: {{channel_data.videocount}}</p>
            </div>
          </div>
          {% endif %}
{% endblock %}